.container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
    background: #fff;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    font-size: 24px;
    font-weight: bold;
  }
  
  h2 {
    margin-top: 20px;
    font-size: 18px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  textarea {
    height: 80px;
  }
  
  .etapa {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .etapa input[type="checkbox"] {
    width: auto;
  }
  
  .etapa input[type="text"] {
    flex-grow: 1;
  }
  
  .file-input {
    border: none;
    font-size: 12px;
  }
  
  .archivo-nombre {
    font-size: 12px;
    color: #666;
  }
  
  .btn-add {
    background: #e9e6ec;
    color: white;
    border: #300359;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-add:hover {
    background: #300359;
  }
  
  .btn-delete {
    background: #d32f2f;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-delete:hover {
    background: #b71c1c;
  }
  
  .contenedor {
    margin-top: 10px;
  }
  
  .contenedor-file {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .btn-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .btn-save {
    background: #300359;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .btn-save:hover {
    background: #300359;
  }
  
  .btn-cancel {
    background: transparent;
    border: 2px solid #300359;
    color: #300359;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .btn-cancel:hover {
    background: #300359;
    color: white;
  }
  